openapi: 3.2.0
info:
  title: PetExec Company API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Company
  description: Company locations, employees, lead sources, and preferences.
paths:
  /company/locations:
    get:
      operationId: getCompanyLocations
      tags:
      - Company
      summary: Get company locations
      responses:
        '200':
          description: A list of company locations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /company/employees/:
    get:
      operationId: getCompanyEmployees
      tags:
      - Company
      summary: Get company employees
      responses:
        '200':
          description: A list of company employees.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /company/how-found/:
    get:
      operationId: getAllHowFound
      tags:
      - Company
      summary: Get all "how found" lead sources
      responses:
        '200':
          description: A list of configured lead sources.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /preference:
    get:
      operationId: getAllCompanyPreferences
      tags:
      - Company
      summary: Get all company preferences
      responses:
        '200':
          description: All named company preference values.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /preference/{preference_name}:
    get:
      operationId: getCompanyPreferenceValue
      tags:
      - Company
      summary: Get a single company preference value
      description: The preference name is URI-encoded (e.g. "Order%20Dashboard%20Notes").
      parameters:
      - name: preference_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested preference value.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Location:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    Employee:
      type: object
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
