openapi: 3.2.0
info:
  title: PetExec Credit Cards API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Credit Cards
  description: Owner stored payment cards.
paths:
  /user-card/owner/{owner_id}:
    get:
      operationId: getOwnerCreditCards
      tags:
      - Credit Cards
      summary: Get all credit cards for an owner
      description: Requires the usercard_read scope. PetExec's own examples are inconsistent between "user-card" (this GET) and "userCard" (used by the delete example below); both forms appear in the official API-Examples repository.
      parameters:
      - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: A list of the owner's stored credit cards.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user-card/{card_id}/owner/{owner_id}:
    get:
      operationId: getOwnerCreditCard
      tags:
      - Credit Cards
      summary: Get a single credit card for an owner
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: The requested credit card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditCard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /userCard/{card_id}:
    delete:
      operationId: deleteCreditCard
      tags:
      - Credit Cards
      summary: Delete a credit card
      parameters:
      - name: card_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CreditCard:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    DeleteResponse:
      type: object
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    OwnerId:
      name: owner_id
      in: path
      required: true
      description: The PetExec owner (pet parent) ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
