openapi: 3.2.0
info:
  title: PetExec Vaccinations API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Vaccinations
  description: Pet vaccination (shot) records.
paths:
  /shot/{shot_id}:
    parameters:
    - name: shot_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getShot
      tags:
      - Vaccinations
      summary: Get a vaccination (shot) record
      responses:
        '200':
          description: The requested shot record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteShot
      tags:
      - Vaccinations
      summary: Delete a vaccination (shot) record
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /shot/pet-type/{pet_id}:
    get:
      operationId: getShotsForPetType
      tags:
      - Vaccinations
      summary: Get all shots for a selected pet type
      parameters:
      - $ref: '#/components/parameters/PetId'
      responses:
        '200':
          description: A list of shots configured for the pet type.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shot'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    PetId:
      name: pet_id
      in: path
      required: true
      description: The PetExec pet ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Shot:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    DeleteResponse:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
