openapi: 3.2.0
info:
  title: PetExec Purchase History API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Purchase History
  description: Owner purchase/transaction history.
paths:
  /purchase-history/owner/{owner_id}:
    get:
      operationId: getPurchaseHistory
      tags:
      - Purchase History
      summary: Get an owner's purchase history
      parameters:
      - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: The owner's purchase history.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseHistoryEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      additionalProperties: true
    PurchaseHistoryEntry:
      type: object
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    OwnerId:
      name: owner_id
      in: path
      required: true
      description: The PetExec owner (pet parent) ID.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
