openapi: 3.2.0
info:
  title: PetExec Boarding API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Boarding
  description: Boarding reservations, packages, and services.
paths:
  /boarding/{boarding_id}:
    parameters:
    - $ref: '#/components/parameters/BoardingId'
    get:
      operationId: getBoarding
      tags:
      - Boarding
      summary: Get a boarding reservation
      responses:
        '200':
          description: The requested boarding reservation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFutureBoarding
      tags:
      - Boarding
      summary: Delete a future boarding reservation
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /boarding/packages/owner/{owner_id}:
    get:
      operationId: getOwnerBoardingPackages
      tags:
      - Boarding
      summary: Get an owner's boarding packages
      parameters:
      - $ref: '#/components/parameters/OwnerId'
      responses:
        '200':
          description: The owner's boarding packages.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardingPackage'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /boarding/services:
    get:
      operationId: listBoardingServices
      tags:
      - Boarding
      summary: List boarding services
      responses:
        '200':
          description: A list of boarding services.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    BoardingId:
      name: boarding_id
      in: path
      required: true
      schema:
        type: string
    OwnerId:
      name: owner_id
      in: path
      required: true
      description: The PetExec owner (pet parent) ID.
      schema:
        type: string
  schemas:
    Service:
      type: object
      additionalProperties: true
    BoardingPackage:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    DeleteResponse:
      type: object
      additionalProperties: true
    Reservation:
      type: object
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
