openapi: 3.2.0
info:
  title: PetExec Daycare API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Daycare
  description: Daycare reservations and services.
paths:
  /daycare/{daycare_id}:
    parameters:
    - $ref: '#/components/parameters/DaycareId'
    get:
      operationId: getDaycare
      tags:
      - Daycare
      summary: Get a daycare reservation
      responses:
        '200':
          description: The requested daycare reservation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFutureDaycare
      tags:
      - Daycare
      summary: Delete a future daycare reservation
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /daycare/services/:
    get:
      operationId: listDaycareServices
      tags:
      - Daycare
      summary: List daycare and lunch services
      responses:
        '200':
          description: A list of daycare services.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Service:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    DeleteResponse:
      type: object
      additionalProperties: true
    Reservation:
      type: object
      additionalProperties: true
  parameters:
    DaycareId:
      name: daycare_id
      in: path
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
