openapi: 3.2.0
info:
  title: PetExec Scheduled Services API
  description: The PetExec API is a REST API for existing PetExec customers and their developers to extend the PetExec pet-care business management platform (daycare, boarding, grooming, training, and scheduled services).
  version: '1.0'
  contact:
    name: PetExec
    url: https://www.petexec.net/features/api-for-developers
servers:
- url: https://secure.petexec.net/api
  description: PetExec production API (used by nearly all official PHP and most JavaScript examples)
- url: https://beta.petexec.net/api
  description: PetExec beta/staging API (referenced by some official JavaScript examples for the same paths; not separately documented)
security:
- bearerAuth: []
tags:
- name: Scheduled Services
  description: Scheduled-service reservations, types, and services.
paths:
  /scheduled-service/{scheduled_service_id}:
    delete:
      operationId: deleteFutureScheduledService
      tags:
      - Scheduled Services
      summary: Delete a future scheduled service
      parameters:
      - name: scheduled_service_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /scheduled-service/service-types/:
    get:
      operationId: listScheduledServiceTypes
      tags:
      - Scheduled Services
      summary: List scheduled-service types
      responses:
        '200':
          description: A list of scheduled-service types.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceType'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scheduled-service/services/:
    get:
      operationId: listScheduledServices
      tags:
      - Scheduled Services
      summary: List scheduled-service types and services
      responses:
        '200':
          description: A list of scheduled services.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /scheduled-service/services/{service_type_id}:
    get:
      operationId: listServicesByServiceType
      tags:
      - Scheduled Services
      summary: List services for a scheduled-service type
      parameters:
      - name: service_type_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of services for the given type.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Service:
      type: object
      additionalProperties: true
    ServiceType:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
    DeleteResponse:
      type: object
      additionalProperties: true
  responses:
    Unauthorized:
      description: Missing, invalid, or expired Bearer token, or insufficient scope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'OAuth2 password-grant access token obtained from POST /token. Passed as `Authorization: Bearer YOUR_ACCESS_TOKEN`.'
